/*!
 * dashmix - v3.1.0
 * @author pixelcave - https://pixelcave.com
 * Copyright (c) 2020
 */
body {
  color: #495057;
  background-color: #f2f3f7;
}

a {
  color: #3b5998;
}

a.link-fx::before {
  background-color: #3b5998;
}

a:hover {
  color: #1e2e4f;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #212529;
}

.content-heading {
  border-bottom-color: #e5e7ef;
}

hr {
  border-top-color: #e5e7ef;
}

.text-primary {
  color: #3b5998 !important;
}

a.text-primary.link-fx::before {
  background-color: #3b5998;
}

a.text-primary:hover, a.text-primary:focus {
  color: #1e2e4f !important;
}

.text-primary-dark {
  color: #2d4373 !important;
}

a.text-primary-dark.link-fx::before {
  background-color: #2d4373;
}

a.text-primary-dark:hover, a.text-primary-dark:focus {
  color: #10182a !important;
}

.text-primary-darker {
  color: #1e2e4f !important;
}

a.text-primary-darker.link-fx::before {
  background-color: #1e2e4f;
}

a.text-primary-darker:hover, a.text-primary-darker:focus {
  color: #020305 !important;
}

.text-primary-light {
  color: #5f7ec1 !important;
}

a.text-primary-light.link-fx::before {
  background-color: #5f7ec1;
}

a.text-primary-light:hover, a.text-primary-light:focus {
  color: #344e86 !important;
}

.text-primary-lighter {
  color: #a8b9dd !important;
}

a.text-primary-lighter.link-fx::before {
  background-color: #a8b9dd;
}

a.text-primary-lighter:hover, a.text-primary-lighter:focus {
  color: #5f7ec1 !important;
}

.text-body-bg {
  color: #f2f3f7 !important;
}

a.text-body-bg.link-fx::before {
  background-color: #f2f3f7;
}

a.text-body-bg:hover, a.text-body-bg:focus {
  color: #b3b9d0 !important;
}

.text-body-bg-light {
  color: #f8f9fb !important;
}

a.text-body-bg-light.link-fx::before {
  background-color: #f8f9fb;
}

a.text-body-bg-light:hover, a.text-body-bg-light:focus {
  color: #b9bfd4 !important;
}

.text-body-bg-dark {
  color: #e5e7ef !important;
}

a.text-body-bg-dark.link-fx::before {
  background-color: #e5e7ef;
}

a.text-body-bg-dark:hover, a.text-body-bg-dark:focus {
  color: #a6adc8 !important;
}

.text-body-color {
  color: #495057 !important;
}

a.text-body-color.link-fx::before {
  background-color: #495057;
}

a.text-body-color:hover, a.text-body-color:focus {
  color: #1a1d20 !important;
}

.text-body-color-dark {
  color: #212529 !important;
}

a.text-body-color-dark.link-fx::before {
  background-color: #212529;
}

a.text-body-color-dark:hover, a.text-body-color-dark:focus {
  color: black !important;
}

.text-body-color-light {
  color: #e5e7ef !important;
}

a.text-body-color-light.link-fx::before {
  background-color: #e5e7ef;
}

a.text-body-color-light:hover, a.text-body-color-light:focus {
  color: #a6adc8 !important;
}

.text-dual {
  color: #2d4373 !important;
}

a.text-dual.link-fx::before {
  background-color: #2d4373;
}

a.text-dual:hover, a.text-dual:focus {
  color: #10182a !important;
}

.page-header-dark #page-header .text-dual,
.sidebar-dark #sidebar .text-dual {
  color: #e5e7ef !important;
}

.page-header-dark #page-header a.text-dual.link-fx::before,
.sidebar-dark #sidebar a.text-dual.link-fx::before {
  background-color: #e5e7ef;
}

.page-header-dark #page-header a.text-dual:hover, .page-header-dark #page-header a.text-dual:focus,
.sidebar-dark #sidebar a.text-dual:hover,
.sidebar-dark #sidebar a.text-dual:focus {
  color: #a6adc8 !important;
}

.bg-primary {
  background-color: #3b5998 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #2d4373 !important;
}

.bg-primary-op {
  background-color: rgba(59, 89, 152, 0.75) !important;
}

a.bg-primary-op:hover, a.bg-primary-op:focus,
button.bg-primary-op:hover,
button.bg-primary-op:focus {
  background-color: rgba(45, 67, 115, 0.75) !important;
}

.bg-primary-dark {
  background-color: #2d4373 !important;
}

a.bg-primary-dark:hover, a.bg-primary-dark:focus,
button.bg-primary-dark:hover,
button.bg-primary-dark:focus {
  background-color: #1e2e4f !important;
}

.bg-primary-dark-op {
  background-color: rgba(45, 67, 115, 0.8) !important;
}

a.bg-primary-dark-op:hover, a.bg-primary-dark-op:focus,
button.bg-primary-dark-op:hover,
button.bg-primary-dark-op:focus {
  background-color: rgba(30, 46, 79, 0.8) !important;
}

.bg-primary-darker {
  background-color: #1e2e4f !important;
}

a.bg-primary-darker:hover, a.bg-primary-darker:focus,
button.bg-primary-darker:hover,
button.bg-primary-darker:focus {
  background-color: #10182a !important;
}

.bg-primary-light {
  background-color: #5f7ec1 !important;
}

a.bg-primary-light:hover, a.bg-primary-light:focus,
button.bg-primary-light:hover,
button.bg-primary-light:focus {
  background-color: #4264aa !important;
}

.bg-primary-lighter {
  background-color: #a8b9dd !important;
}

a.bg-primary-lighter:hover, a.bg-primary-lighter:focus,
button.bg-primary-lighter:hover,
button.bg-primary-lighter:focus {
  background-color: #839ccf !important;
}

.bg-body {
  background-color: #f2f3f7 !important;
}

a.bg-body:hover, a.bg-body:focus,
button.bg-body:hover,
button.bg-body:focus {
  background-color: #d2d6e4 !important;
}

.bg-body-light {
  background-color: #f8f9fb !important;
}

a.bg-body-light:hover, a.bg-body-light:focus,
button.bg-body-light:hover,
button.bg-body-light:focus {
  background-color: #d9dce7 !important;
}

.bg-body-dark {
  background-color: #e5e7ef !important;
}

a.bg-body-dark:hover, a.bg-body-dark:focus,
button.bg-body-dark:hover,
button.bg-body-dark:focus {
  background-color: #c6cadc !important;
}

.bg-header-light {
  background-color: #fff !important;
}

a.bg-header-light:hover, a.bg-header-light:focus,
button.bg-header-light:hover,
button.bg-header-light:focus {
  background-color: #e6e6e6 !important;
}

.bg-header-dark {
  background-color: #3b5998 !important;
}

a.bg-header-dark:hover, a.bg-header-dark:focus,
button.bg-header-dark:hover,
button.bg-header-dark:focus {
  background-color: #2d4373 !important;
}

.bg-sidebar-light {
  background-color: #fff !important;
}

a.bg-sidebar-light:hover, a.bg-sidebar-light:focus,
button.bg-sidebar-light:hover,
button.bg-sidebar-light:focus {
  background-color: #e6e6e6 !important;
}

.bg-sidebar-dark {
  background-color: #383a47 !important;
}

a.bg-sidebar-dark:hover, a.bg-sidebar-dark:focus,
button.bg-sidebar-dark:hover,
button.bg-sidebar-dark:focus {
  background-color: #22232a !important;
}

.bg-gd-primary {
  background: #3b5998 linear-gradient(135deg, #3b5998 0%, #5f7ec1 100%) !important;
}

.btn-link {
  color: #3b5998;
}

.btn-link:hover {
  color: #1e2e4f;
}

.btn-primary {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-primary:hover {
  color: #fff;
  background-color: #30497c;
  border-color: #2d4373;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #30497c;
  border-color: #2d4373;
  box-shadow: 0 0 0 0.2rem rgba(88, 114, 167, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #2d4373;
  border-color: #293e6a;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(88, 114, 167, 0.5);
}

.btn-outline-primary {
  color: #3b5998;
  border-color: #3b5998;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(59, 89, 152, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #3b5998;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(59, 89, 152, 0.5);
}

.btn-alt-primary {
  color: #2d4373;
  background-color: #bbc8e4;
  border-color: #bbc8e4;
}

.btn-alt-primary:hover {
  color: #2d4373;
  background-color: #9fb2da;
  border-color: #9fb2da;
}

.btn-alt-primary:focus, .btn-alt-primary.focus {
  color: #2d4373;
  background-color: #9fb2da;
  border-color: #9fb2da;
  box-shadow: 0 0 0 0.2rem rgba(142, 165, 211, 0.25);
}

.btn-alt-primary.disabled, .btn-alt-primary:disabled {
  color: #fff;
  background-color: #bbc8e4;
  border-color: #bbc8e4;
}

.btn-alt-primary:not(:disabled):not(.disabled):active, .btn-alt-primary:not(:disabled):not(.disabled).active,
.show > .btn-alt-primary.dropdown-toggle {
  color: #17233c;
  background-color: #8ea5d3;
  border-color: #8ea5d3;
}

.btn-alt-primary:not(:disabled):not(.disabled):active:focus, .btn-alt-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-alt-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(142, 165, 211, 0.25);
}

.btn-alt-secondary {
  color: #495057;
  background-color: #f2f3f7;
  border-color: #f2f3f7;
}

.btn-alt-secondary:hover {
  color: #495057;
  background-color: #dadde8;
  border-color: #dadde8;
}

.btn-alt-secondary:focus, .btn-alt-secondary.focus {
  color: #495057;
  background-color: #dadde8;
  border-color: #dadde8;
  box-shadow: 0 0 0 0.2rem rgba(204, 208, 224, 0.25);
}

.btn-alt-secondary.disabled, .btn-alt-secondary:disabled {
  color: #212529;
  background-color: #f2f3f7;
  border-color: #f2f3f7;
}

.btn-alt-secondary:not(:disabled):not(.disabled):active, .btn-alt-secondary:not(:disabled):not(.disabled).active,
.show > .btn-alt-secondary.dropdown-toggle {
  color: #262a2d;
  background-color: #ccd0e0;
  border-color: #ccd0e0;
}

.btn-alt-secondary:not(:disabled):not(.disabled):active:focus, .btn-alt-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-alt-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(204, 208, 224, 0.25);
}

.btn-hero-primary {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .0625rem;
  font-weight: 700;
  padding: 0.625rem 1.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  background-color: #3b5998;
  border: none;
  box-shadow: 0 0.125rem 0.75rem rgba(38, 57, 97, 0.25);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-transform 0.12s ease-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, transform 0.12s ease-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, transform 0.12s ease-out, -webkit-transform 0.12s ease-out;
}

.btn-hero-primary:hover {
  color: #fff;
  background-color: #4c70ba;
  box-shadow: 0 0.375rem 0.75rem rgba(38, 57, 97, 0.4);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.btn-hero-primary:focus, .btn-hero-primary.focus {
  color: #fff;
  background-color: #4c70ba;
  box-shadow: 0 0.125rem 0.75rem rgba(38, 57, 97, 0.25);
}

.btn-hero-primary.disabled, .btn-hero-primary:disabled {
  color: #fff;
  background-color: #3b5998;
  box-shadow: 0 0.125rem 0.75rem rgba(38, 57, 97, 0.25);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.btn-hero-primary:not(:disabled):not(.disabled):active, .btn-hero-primary:not(:disabled):not(.disabled).active,
.show > .btn-hero-primary.dropdown-toggle {
  color: #fff;
  background-color: #263961;
  box-shadow: 0 0.125rem 0.75rem rgba(38, 57, 97, 0.25);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.btn-hero-primary:not(:disabled):not(.disabled):active:focus, .btn-hero-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-hero-primary.dropdown-toggle:focus {
  box-shadow: 0 0.125rem 0.75rem rgba(38, 57, 97, 0.25);
}

.btn-hero-lg {
  padding: 0.875rem 2.25rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.btn-hero-sm {
  padding: 0.375rem 1.25rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.btn-dual {
  color: #16181a;
  background-color: #f8f9fb;
  border-color: #f8f9fb;
}

.btn-dual:hover, .btn-dual:focus, .btn-dual.focus {
  color: #16181a;
  background-color: #d2d6e4;
  border-color: #d2d6e4;
  box-shadow: none;
}

.btn-dual.disabled, .btn-dual:disabled {
  background-color: transparent;
  border-color: transparent;
}

.btn-dual:active, .btn-dual.active {
  color: #16181a;
  background-color: #f8f9fb;
  border-color: #f8f9fb;
}

.btn-dual:not(:disabled):not(.disabled):active, .btn-dual:not(:disabled):not(.disabled).active,
.show > .btn-dual.dropdown-toggle {
  color: #16181a;
  background-color: #d2d6e4;
  border-color: #d2d6e4;
}

.page-header-dark #page-header .btn-dual,
.sidebar-dark #sidebar .btn-dual {
  color: #fff;
  background-color: #4163a9;
  border-color: #4163a9;
}

.page-header-dark #page-header .btn-dual:hover, .page-header-dark #page-header .btn-dual:focus, .page-header-dark #page-header .btn-dual.focus,
.sidebar-dark #sidebar .btn-dual:hover,
.sidebar-dark #sidebar .btn-dual:focus,
.sidebar-dark #sidebar .btn-dual.focus {
  color: #fff;
  background-color: #324c82;
  border-color: #324c82;
  box-shadow: none;
}

.page-header-dark #page-header .btn-dual.disabled, .page-header-dark #page-header .btn-dual:disabled,
.sidebar-dark #sidebar .btn-dual.disabled,
.sidebar-dark #sidebar .btn-dual:disabled {
  background-color: transparent;
  border-color: transparent;
}

.page-header-dark #page-header .btn-dual:active, .page-header-dark #page-header .btn-dual.active,
.sidebar-dark #sidebar .btn-dual:active,
.sidebar-dark #sidebar .btn-dual.active {
  color: #fff;
  background-color: #4163a9;
  border-color: #4163a9;
}

.page-header-dark #page-header .btn-dual:not(:disabled):not(.disabled):active, .page-header-dark #page-header .btn-dual:not(:disabled):not(.disabled).active,
.show > .page-header-dark #page-header .btn-dual.dropdown-toggle,
.sidebar-dark #sidebar .btn-dual:not(:disabled):not(.disabled):active,
.sidebar-dark #sidebar .btn-dual:not(:disabled):not(.disabled).active,
.show >
.sidebar-dark #sidebar .btn-dual.dropdown-toggle {
  color: #fff;
  background-color: #324c82;
  border-color: #324c82;
}

.page-header-dark.page-header-glass:not(.page-header-scroll) #page-header .btn-dual {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.page-header-dark.page-header-glass:not(.page-header-scroll) #page-header .btn-dual:hover, .page-header-dark.page-header-glass:not(.page-header-scroll) #page-header .btn-dual:focus, .page-header-dark.page-header-glass:not(.page-header-scroll) #page-header .btn-dual.focus {
  color: #fff;
  background-color: #324c82;
  border-color: #324c82;
  box-shadow: none;
}

.page-header-dark.page-header-glass:not(.page-header-scroll) #page-header .btn-dual.disabled, .page-header-dark.page-header-glass:not(.page-header-scroll) #page-header .btn-dual:disabled {
  background-color: transparent;
  border-color: transparent;
}

.page-header-dark.page-header-glass:not(.page-header-scroll) #page-header .btn-dual:active, .page-header-dark.page-header-glass:not(.page-header-scroll) #page-header .btn-dual.active {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.page-header-dark.page-header-glass:not(.page-header-scroll) #page-header .btn-dual:not(:disabled):not(.disabled):active, .page-header-dark.page-header-glass:not(.page-header-scroll) #page-header .btn-dual:not(:disabled):not(.disabled).active,
.show > .page-header-dark.page-header-glass:not(.page-header-scroll) #page-header .btn-dual.dropdown-toggle {
  color: #fff;
  background-color: #324c82;
  border-color: #324c82;
}

.alert-primary {
  color: #2d4373;
  background-color: #a8b9dd;
  border-color: #a8b9dd;
}

.alert-primary hr {
  border-top-color: #96abd6;
}

.alert-primary .alert-link {
  color: #1e2e4f;
}

.badge-primary {
  color: #fff;
  background-color: #3b5998;
}

a.badge-primary:hover, a.badge-primary:focus {
  color: #fff;
  background-color: #2d4373;
}

a.badge-primary:focus, a.badge-primary.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(59, 89, 152, 0.5);
}

.progress-bar {
  background-color: #3b5998;
}

.nav-link {
  color: #495057;
}

.nav-link:hover, .nav-link:focus {
  color: #3b5998;
}

.nav-pills .nav-link:hover, .nav-pills .nav-link:focus {
  background-color: #f2f3f7;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #3b5998;
}

.nav-tabs {
  border-bottom-color: #e5e7ef;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #e5e7ef #e5e7ef #e5e7ef;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border-color: #e5e7ef #e5e7ef #fff;
}

.nav-tabs-block {
  background-color: #f8f9fb;
}

.nav-tabs-block .nav-link {
  border-color: transparent;
}

.nav-tabs-block .nav-link:hover, .nav-tabs-block .nav-link:focus {
  color: #3b5998;
  background-color: #f2f3f7;
  border-color: transparent;
}

.nav-tabs-block .nav-link.active,
.nav-tabs-block .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: transparent;
}

.nav-tabs-alt {
  border-bottom-color: #e5e7ef;
}

.nav-tabs-alt .nav-link {
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs-alt .nav-link:hover, .nav-tabs-alt .nav-link:focus {
  color: #3b5998;
  background-color: transparent;
  border-color: transparent;
  box-shadow: inset 0 -3px #3b5998;
}

.nav-tabs-alt .nav-link.active,
.nav-tabs-alt .nav-item.show .nav-link {
  color: #495057;
  background-color: transparent;
  border-color: transparent;
  box-shadow: inset 0 -3px #3b5998;
}

.nav-items a {
  border-bottom-color: #f2f3f7;
}

.nav-items a:hover {
  background-color: #f8f9fb;
}

.nav-items a:active {
  background-color: #f2f3f7;
}

.nav-items > li:last-child > a {
  border-bottom: none;
}

.page-item.active .page-link {
  background-color: #3b5998;
  border-color: #3b5998;
}

.page-link {
  color: #495057;
  background-color: #f2f3f7;
  border-color: #f2f3f7;
}

.page-link:hover {
  color: #495057;
  background-color: #c6cadc;
  border-color: #c6cadc;
}

.page-link:focus {
  background-color: #e5e7ef;
  border-color: #e5e7ef;
}

.list-group-item-action {
  color: #495057;
}

.list-group-item-action:hover, .list-group-item-action:focus {
  color: #495057;
  background-color: #f8f9fb;
}

.list-group-item-action:active {
  color: #495057;
  background-color: #e5e7ef;
}

.list-group-item {
  border-color: #e5e7ef;
}

.list-group-item.active {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.popover {
  border-color: #e5e7ef;
}

.bs-popover-top .arrow::before, .bs-popover-auto[x-placement^="top"] .arrow::before {
  border-top-color: #e5e7ef;
}

.bs-popover-top .arrow::after, .bs-popover-auto[x-placement^="top"] .arrow::after {
  border-top-color: #fff;
}

.bs-popover-right .arrow::before, .bs-popover-auto[x-placement^="right"] .arrow::before {
  border-right-color: #e5e7ef;
}

.bs-popover-right .arrow::after, .bs-popover-auto[x-placement^="right"] .arrow::after {
  border-right-color: #fff;
}

.bs-popover-bottom .arrow::before, .bs-popover-auto[x-placement^="bottom"] .arrow::before {
  border-bottom-color: #e5e7ef;
}

.bs-popover-bottom .arrow::after, .bs-popover-auto[x-placement^="bottom"] .arrow::after {
  border-bottom-color: #fff;
}

.bs-popover-left .arrow::before, .bs-popover-auto[x-placement^="left"] .arrow::before {
  border-left-color: #e5e7ef;
}

.bs-popover-left .arrow::after, .bs-popover-auto[x-placement^="left"] .arrow::after {
  border-left-color: #fff;
}

.modal-header {
  border-bottom-color: #e5e7ef;
}

.modal-footer {
  border-top-color: #e5e7ef;
}

.dropdown-menu {
  border-color: #e5e7ef;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #f2f3f7;
}

.dropdown-item {
  color: #495057;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #212529;
  background-color: #f2f3f7;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  background-color: #3b5998;
}

.dropdown-header {
  color: #212529;
}

.table th,
.table td {
  border-top-color: #e5e7ef;
}

.table thead th {
  border-bottom-color: #e5e7ef;
}

.table tbody + tbody {
  border-top-color: #e5e7ef;
}

.table-bordered,
.table-bordered th,
.table-bordered td {
  border-color: #e5e7ef;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f7f7fa;
}

.table-hover tbody tr:hover {
  background-color: #edeff4;
}

.table-active,
.table-active > th,
.table-active > td {
  background-color: #edeff4;
}

.table-hover .table-active:hover {
  background-color: #dde0ea;
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: #dde0ea;
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #a8b9dd;
}

.table-hover .table-primary:hover {
  background-color: #96abd6;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #96abd6;
}

.table .thead-dark th {
  background-color: #2d4373;
  border-color: #2d4373;
}

.table .thead-light th {
  background-color: #e5e7ef;
  border-color: #e5e7ef;
}

.form-control {
  color: #495057;
  background-color: #fff;
  border-color: #d9dce7;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #839ccf;
  box-shadow: 0 0 0 0.2rem rgba(59, 89, 152, 0.25);
}

.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
}

select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.custom-control-primary .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #3b5998;
}

.custom-control-primary .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(59, 89, 152, 0.25);
}

.custom-control-primary .custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  background-color: #718dc8;
}

.custom-control-primary .custom-control-label::before {
  background-color: #e5e7ef;
}

.custom-control-primary.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #3b5998;
}

.custom-control-primary.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
  background-color: #3b5998;
}

.custom-control-primary.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #3b5998;
}

.custom-control-primary.custom-block .custom-block-indicator {
  background-color: #3b5998;
}

.custom-control-primary.custom-block .custom-control-input:checked ~ .custom-control-label {
  border-color: #3b5998;
}

.custom-control-primary.custom-block .custom-control-input:focus ~ .custom-control-label {
  box-shadow: 0 0 0.75rem rgba(59, 89, 152, 0.25);
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #3b5998;
  border-color: #3b5998;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(59, 89, 152, 0.25);
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  background-color: #a8b9dd;
}

.custom-select {
  border-color: #d9dce7;
}

.custom-select:focus {
  border-color: #839ccf;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(131, 156, 207, 0.5);
}

.custom-select:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.custom-file-input:focus ~ .custom-file-label {
  border-color: #839ccf;
  box-shadow: 0 0 0 0.2rem rgba(59, 89, 152, 0.25);
}

.custom-file-input:focus ~ .custom-file-label::after {
  border-color: #839ccf;
}

.custom-file-label {
  color: #495057;
  background-color: #fff;
  border-color: #d9dce7;
}

.custom-file-label::after {
  color: #495057;
  background-color: #e5e7ef;
  border-left-color: #d9dce7;
}

.valid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #82b54b;
}

.valid-tooltip {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: 0.25rem 0.75rem;
  margin-top: .1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #fff;
  background-color: rgba(130, 181, 75, 0.9);
  border-radius: 0.25rem;
}

.was-validated :valid ~ .valid-feedback,
.was-validated :valid ~ .valid-tooltip,
.is-valid ~ .valid-feedback,
.is-valid ~ .valid-tooltip {
  display: block;
}

.was-validated .form-control:valid, .form-control.is-valid {
  border-color: #82b54b;
}

.was-validated .form-control:valid:focus, .form-control.is-valid:focus {
  border-color: #82b54b;
  box-shadow: 0 0 0 0.2rem rgba(130, 181, 75, 0.25);
}

.was-validated .custom-select:valid, .custom-select.is-valid {
  border-color: #82b54b;
}

.was-validated .custom-select:valid:focus, .custom-select.is-valid:focus {
  border-color: #82b54b;
  box-shadow: 0 0 0 0.2rem rgba(130, 181, 75, 0.25);
}

.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
  color: #82b54b;
}

.was-validated .form-check-input:valid ~ .valid-feedback,
.was-validated .form-check-input:valid ~ .valid-tooltip, .form-check-input.is-valid ~ .valid-feedback,
.form-check-input.is-valid ~ .valid-tooltip {
  display: block;
}

.was-validated .custom-control-input:valid ~ .custom-control-label, .custom-control-input.is-valid ~ .custom-control-label {
  color: #82b54b;
}

.was-validated .custom-control-input:valid ~ .custom-control-label::before, .custom-control-input.is-valid ~ .custom-control-label::before {
  border-color: #82b54b;
}

.was-validated .custom-control-input:valid:checked ~ .custom-control-label::before, .custom-control-input.is-valid:checked ~ .custom-control-label::before {
  border-color: #9bc46f;
  background-color: #9bc46f;
}

.was-validated .custom-control-input:valid:focus ~ .custom-control-label::before, .custom-control-input.is-valid:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(130, 181, 75, 0.25);
}

.was-validated .custom-control-input:valid:focus:not(:checked) ~ .custom-control-label::before, .custom-control-input.is-valid:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #82b54b;
}

.was-validated .custom-file-input:valid ~ .custom-file-label, .custom-file-input.is-valid ~ .custom-file-label {
  border-color: #82b54b;
}

.was-validated .custom-file-input:valid:focus ~ .custom-file-label, .custom-file-input.is-valid:focus ~ .custom-file-label {
  border-color: #82b54b;
  box-shadow: 0 0 0 0.2rem rgba(130, 181, 75, 0.25);
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #e04f1a;
}

.invalid-tooltip {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: 0.25rem 0.75rem;
  margin-top: .1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #fff;
  background-color: rgba(224, 79, 26, 0.9);
  border-radius: 0.25rem;
}

.was-validated :invalid ~ .invalid-feedback,
.was-validated :invalid ~ .invalid-tooltip,
.is-invalid ~ .invalid-feedback,
.is-invalid ~ .invalid-tooltip {
  display: block;
}

.was-validated .form-control:invalid, .form-control.is-invalid {
  border-color: #e04f1a;
}

.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
  border-color: #e04f1a;
  box-shadow: 0 0 0 0.2rem rgba(224, 79, 26, 0.25);
}

.was-validated .custom-select:invalid, .custom-select.is-invalid {
  border-color: #e04f1a;
}

.was-validated .custom-select:invalid:focus, .custom-select.is-invalid:focus {
  border-color: #e04f1a;
  box-shadow: 0 0 0 0.2rem rgba(224, 79, 26, 0.25);
}

.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label {
  color: #e04f1a;
}

.was-validated .form-check-input:invalid ~ .invalid-feedback,
.was-validated .form-check-input:invalid ~ .invalid-tooltip, .form-check-input.is-invalid ~ .invalid-feedback,
.form-check-input.is-invalid ~ .invalid-tooltip {
  display: block;
}

.was-validated .custom-control-input:invalid ~ .custom-control-label, .custom-control-input.is-invalid ~ .custom-control-label {
  color: #e04f1a;
}

.was-validated .custom-control-input:invalid ~ .custom-control-label::before, .custom-control-input.is-invalid ~ .custom-control-label::before {
  border-color: #e04f1a;
}

.was-validated .custom-control-input:invalid:checked ~ .custom-control-label::before, .custom-control-input.is-invalid:checked ~ .custom-control-label::before {
  border-color: #e97044;
  background-color: #e97044;
}

.was-validated .custom-control-input:invalid:focus ~ .custom-control-label::before, .custom-control-input.is-invalid:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(224, 79, 26, 0.25);
}

.was-validated .custom-control-input:invalid:focus:not(:checked) ~ .custom-control-label::before, .custom-control-input.is-invalid:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #e04f1a;
}

.was-validated .custom-file-input:invalid ~ .custom-file-label, .custom-file-input.is-invalid ~ .custom-file-label {
  border-color: #e04f1a;
}

.was-validated .custom-file-input:invalid:focus ~ .custom-file-label, .custom-file-input.is-invalid:focus ~ .custom-file-label {
  border-color: #e04f1a;
  box-shadow: 0 0 0 0.2rem rgba(224, 79, 26, 0.25);
}

.form-control.form-control-alt {
  border-color: #f2f3f7;
  background-color: #f2f3f7;
}

.form-control.form-control-alt:focus {
  border-color: #e5e7ef;
  background-color: #e5e7ef;
  box-shadow: none;
}

.form-control.form-control-alt.is-valid {
  border-color: #e4efd8;
  background-color: #e4efd8;
}

.form-control.form-control-alt.is-valid:focus {
  border-color: #d7e8c6;
  background-color: #d7e8c6;
}

.form-control.form-control-alt.is-invalid {
  border-color: #fdf1ed;
  background-color: #fdf1ed;
}

.form-control.form-control-alt.is-invalid:focus {
  border-color: #fbe7df;
  background-color: #fbe7df;
}

.input-group-text {
  color: #495057;
  background-color: #f2f3f7;
  border-color: #d9dce7;
}

.input-group-text.input-group-text-alt {
  background-color: #e5e7ef;
  border-color: #e5e7ef;
}

.border {
  border-color: #e5e7ef !important;
}

.border-top {
  border-top-color: #e5e7ef !important;
}

.border-right {
  border-right-color: #e5e7ef !important;
}

.border-bottom {
  border-bottom-color: #e5e7ef !important;
}

.border-left {
  border-left-color: #e5e7ef !important;
}

.border-primary-light {
  border-color: #2a8bf9 !important;
}

.border-primary-lighter {
  border-color: #74b3fb !important;
}

.border-primary-dark {
  border-color: #054d9e !important;
}

.border-primary-darker {
  border-color: #022954 !important;
}

.border-success-light {
  border-color: #bed9a2 !important;
}

.border-info-light {
  border-color: #a5ccf0 !important;
}

.border-warning-light {
  border-color: #ffdb93 !important;
}

.border-danger-light {
  border-color: #f1a184 !important;
}

.border-primary {
  border-color: #0665d0 !important;
}

.border-secondary {
  border-color: #6c757d !important;
}

.border-success {
  border-color: #82b54b !important;
}

.border-info {
  border-color: #3c90df !important;
}

.border-warning {
  border-color: #ffb119 !important;
}

.border-danger {
  border-color: #e04f1a !important;
}

.border-light {
  border-color: #f8f9fa !important;
}

.border-dark {
  border-color: #343a40 !important;
}

.border-primary {
  border-color: #3b5998 !important;
}

.border-white {
  border-color: #fff !important;
}

.border-white-op {
  border-color: rgba(255, 255, 255, 0.1) !important;
}

.border-black-op {
  border-color: rgba(0, 0, 0, 0.1) !important;
}

#page-header {
  background-color: #fff;
}

#sidebar {
  background-color: #fff;
}

#side-overlay {
  background-color: #fff;
}

#page-container.page-header-dark #page-header {
  color: #ccd0e0;
  background-color: #3b5998;
}

#page-container.page-header-glass #page-header {
  background-color: transparent;
}

#page-container.page-header-glass.page-header-fixed.page-header-scroll #page-header {
  background-color: rgba(255, 255, 255, 0.9);
}

#page-container.page-header-glass.page-header-fixed.page-header-scroll.page-header-dark #page-header {
  background-color: rgba(59, 89, 152, 0.9);
}

#page-container.sidebar-dark #sidebar {
  color: #e5e7ef;
  background-color: #383a47;
}

.block {
  box-shadow: 0 1px 3px rgba(221, 224, 234, 0.5), 0 1px 2px rgba(221, 224, 234, 0.5);
}

.block-header-default {
  background-color: #f8f9fb;
}

.block.block-bordered {
  border-color: #e5e7ef;
}

.block.block-themed > .block-header {
  background-color: #3b5998;
}

.block.block-mode-loading::after {
  color: #3b5998;
}

a.block {
  color: #495057;
}

a.block:hover {
  color: #495057;
}

a.block.block-link-pop:hover {
  box-shadow: 0 0.5rem 2rem #d9dce7;
}

a.block.block-link-pop:active {
  box-shadow: 0 0.25rem 0.75rem #eff0f5;
}

a.block.block-link-shadow:hover {
  box-shadow: 0 0 2.25rem #d9dce7;
}

a.block.block-link-shadow:active {
  box-shadow: 0 0 1.125rem #e5e7ef;
}

.block.block-fx-shadow {
  box-shadow: 0 0 2.25rem #d9dce7;
}

.block.block-fx-pop {
  box-shadow: 0 0.5rem 2rem #d9dce7;
}

.btn-block-option {
  color: #3b5998;
}

.btn-block-option:hover {
  color: #5f7ec1;
}

a.btn-block-option:focus,
.active > a.btn-block-option,
.show > button.btn-block-option {
  color: #5f7ec1;
}

.btn-block-option:active {
  color: #a8b9dd;
}

#page-loader {
  background-color: #3b5998;
}

.nav-main-heading {
  color: #869099;
}

.nav-main-link {
  color: #555d65;
}

.nav-main-link .nav-main-link-icon {
  color: rgba(59, 89, 152, 0.7);
}

.nav-main-link:hover, .nav-main-link.active {
  color: #000;
  background-color: #d8e0f0;
}

.nav-main-submenu {
  background-color: #eef1f8;
}

.nav-main-submenu .nav-main-link {
  color: #78838e;
}

.nav-main-submenu .nav-main-link:hover, .nav-main-submenu .nav-main-link.active {
  color: #383d42;
  background-color: transparent;
}

.nav-main-item.open > .nav-main-link-submenu {
  color: #000;
  background-color: #d8e0f0;
}

.nav-main-submenu .nav-main-item.open .nav-main-link {
  background-color: transparent;
}

@media (min-width: 992px) {
  .nav-main-horizontal.nav-main-hover .nav-main-item:hover > .nav-main-link-submenu {
    color: #000;
    background-color: #d8e0f0;
  }
}

.nav-main-dark .nav-main-heading,
.sidebar-dark #sidebar .nav-main-heading,
.page-header-dark #page-header .nav-main-heading {
  color: #7e829a;
}

.nav-main-dark .nav-main-link,
.sidebar-dark #sidebar .nav-main-link,
.page-header-dark #page-header .nav-main-link {
  color: #c6c7d2;
}

.nav-main-dark .nav-main-link > .nav-main-link-icon,
.sidebar-dark #sidebar .nav-main-link > .nav-main-link-icon,
.page-header-dark #page-header .nav-main-link > .nav-main-link-icon {
  color: #656980;
}

.nav-main-dark .nav-main-link:hover, .nav-main-dark .nav-main-link.active,
.sidebar-dark #sidebar .nav-main-link:hover,
.sidebar-dark #sidebar .nav-main-link.active,
.page-header-dark #page-header .nav-main-link:hover,
.page-header-dark #page-header .nav-main-link.active {
  color: #fff;
  background-color: #2e303a;
}

.nav-main-dark .nav-main-submenu,
.sidebar-dark #sidebar .nav-main-submenu,
.page-header-dark #page-header .nav-main-submenu {
  background-color: #31333e;
}

.nav-main-dark .nav-main-submenu .nav-main-link,
.sidebar-dark #sidebar .nav-main-submenu .nav-main-link,
.page-header-dark #page-header .nav-main-submenu .nav-main-link {
  color: #a9acbb;
}

.nav-main-dark .nav-main-submenu .nav-main-link:hover, .nav-main-dark .nav-main-submenu .nav-main-link.active,
.sidebar-dark #sidebar .nav-main-submenu .nav-main-link:hover,
.sidebar-dark #sidebar .nav-main-submenu .nav-main-link.active,
.page-header-dark #page-header .nav-main-submenu .nav-main-link:hover,
.page-header-dark #page-header .nav-main-submenu .nav-main-link.active {
  color: #fff;
  background-color: transparent;
}

.nav-main-dark .nav-main-item.open > .nav-main-link-submenu,
.sidebar-dark #sidebar .nav-main-item.open > .nav-main-link-submenu,
.page-header-dark #page-header .nav-main-item.open > .nav-main-link-submenu {
  color: #fff;
  background-color: #2e303a;
}

.nav-main-dark .nav-main-item.open > .nav-main-submenu,
.sidebar-dark #sidebar .nav-main-item.open > .nav-main-submenu,
.page-header-dark #page-header .nav-main-item.open > .nav-main-submenu {
  background-color: #31333e;
}

.nav-main-dark .nav-main-submenu .nav-main-item.open .nav-main-link,
.sidebar-dark #sidebar .nav-main-submenu .nav-main-item.open .nav-main-link,
.page-header-dark #page-header .nav-main-submenu .nav-main-item.open .nav-main-link {
  background-color: transparent;
}

@media (min-width: 992px) {
  .nav-main-dark.nav-main-horizontal.nav-main-hover .nav-main-link:hover, .nav-main-dark.nav-main-horizontal.nav-main-hover .nav-main-link.active,
  .sidebar-dark #sidebar .nav-main-horizontal.nav-main-hover .nav-main-link:hover,
  .sidebar-dark #sidebar .nav-main-horizontal.nav-main-hover .nav-main-link.active,
  .page-header-dark #page-header .nav-main-horizontal.nav-main-hover .nav-main-link:hover,
  .page-header-dark #page-header .nav-main-horizontal.nav-main-hover .nav-main-link.active {
    background-color: #344e86;
  }
  .nav-main-dark.nav-main-horizontal.nav-main-hover .nav-main-item:hover > .nav-main-link-submenu,
  .sidebar-dark #sidebar .nav-main-horizontal.nav-main-hover .nav-main-item:hover > .nav-main-link-submenu,
  .page-header-dark #page-header .nav-main-horizontal.nav-main-hover .nav-main-item:hover > .nav-main-link-submenu {
    background-color: #344e86;
  }
  .nav-main-dark.nav-main-horizontal.nav-main-hover .nav-main-item:hover > .nav-main-submenu,
  .sidebar-dark #sidebar .nav-main-horizontal.nav-main-hover .nav-main-item:hover > .nav-main-submenu,
  .page-header-dark #page-header .nav-main-horizontal.nav-main-hover .nav-main-item:hover > .nav-main-submenu {
    background-color: #344e86;
  }
  .nav-main-dark.nav-main-horizontal.nav-main-hover .nav-main-submenu .nav-main-item:hover .nav-main-link,
  .sidebar-dark #sidebar .nav-main-horizontal.nav-main-hover .nav-main-submenu .nav-main-item:hover .nav-main-link,
  .page-header-dark #page-header .nav-main-horizontal.nav-main-hover .nav-main-submenu .nav-main-item:hover .nav-main-link {
    background-color: transparent;
  }
}

.nav-items a {
  border-bottom-color: #f2f3f7;
}

.nav-items a:hover {
  background-color: #f8f9fb;
}

.list-activity > li {
  border-bottom-color: #f2f3f7;
}

.timeline-event-icon {
  box-shadow: 0 0.375rem 1.5rem #d9dce7;
}

.ribbon-light .ribbon-box {
  color: #495057;
  background-color: #e5e7ef;
}

.ribbon-light.ribbon-bookmark .ribbon-box::before {
  border-color: #e5e7ef;
  border-left-color: transparent;
}

.ribbon-light.ribbon-bookmark.ribbon-left .ribbon-box::before {
  border-color: #e5e7ef;
  border-right-color: transparent;
}

.ribbon-primary .ribbon-box {
  color: #fff;
  background-color: #3b5998;
}

.ribbon-primary.ribbon-bookmark .ribbon-box::before {
  border-color: #3b5998;
  border-left-color: transparent;
}

.ribbon-primary.ribbon-bookmark.ribbon-left .ribbon-box::before {
  border-color: #3b5998;
  border-right-color: transparent;
}

.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:focus,
.datepicker table tr td.active:hover:focus,
.datepicker table tr td.active.disabled:focus,
.datepicker table tr td.active.disabled:hover:focus,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td.active,
.open .dropdown-toggle.datepicker table tr td.active:hover,
.open .dropdown-toggle.datepicker table tr td.active.disabled,
.open .dropdown-toggle.datepicker table tr td.active.disabled:hover,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:focus,
.datepicker table tr td span.active:hover:focus,
.datepicker table tr td span.active.disabled:focus,
.datepicker table tr td span.active.disabled:hover:focus,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td span.active,
.open .dropdown-toggle.datepicker table tr td span.active:hover,
.open .dropdown-toggle.datepicker table tr td span.active.disabled,
.open .dropdown-toggle.datepicker table tr td span.active.disabled:hover {
  background-color: #3b5998;
  border-color: #3b5998;
}

.cke_chrome,
.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused),
.ck.ck-toolbar {
  border-color: #e5e7ef !important;
}

.cke_top,
.ck.ck-toolbar {
  border-bottom-color: #e5e7ef !important;
  background: #f8f9fb !important;
}

.ck.ck-toolbar .ck.ck-toolbar__separator {
  background: #e5e7ef !important;
}

.cke_bottom {
  border-top-color: #e5e7ef !important;
  background: #f8f9fb !important;
}

.dropzone {
  background-color: #f8f9fb;
  border-color: #d9dce7;
}

.dropzone .dz-message {
  color: #495057;
}

.dropzone:hover {
  background-color: #fff;
  border-color: #3b5998;
}

.dropzone:hover .dz-message {
  color: #3b5998;
}

.fc-theme-bootstrap .fc-h-event {
  background-color: #3b5998;
  border: #3b5998;
}

.fc-theme-bootstrap .fc-col-header-cell {
  background-color: #f8f9fb;
}

.irs.irs--round .irs-min,
.irs.irs--round .irs-max,
.irs.irs--round .irs-line,
.irs.irs--round .irs-grid-pol {
  background: #f2f3f7;
}

.irs.irs--round .irs-handle {
  border-color: #3b5998;
}

.irs.irs--round .irs-from:before,
.irs.irs--round .irs-to:before,
.irs.irs--round .irs-single:before {
  border-top-color: #3b5998;
}

.irs.irs--round .irs-bar,
.irs.irs--round .irs-from,
.irs.irs--round .irs-to,
.irs.irs--round .irs-single {
  background: #3b5998;
}

.select2-container--default .select2-selection--single {
  border-color: #d9dce7;
}

.select2-container--default .select2-selection--multiple {
  border-color: #d9dce7;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--single,
.select2-container--default.select2-container--open .select2-selection--multiple,
.select2-container--default.select2-container--open .select2-selection--single {
  border-color: #839ccf;
  box-shadow: 0 0 0 0.2rem rgba(59, 89, 152, 0.25);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #3b5998;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: #d9dce7;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #3b5998;
}

.select2-container--default .select2-dropdown .select2-search__field:focus {
  border-color: #839ccf;
  box-shadow: 0 0 0 0.2rem rgba(59, 89, 152, 0.25);
}

.simplebar-scrollbar::before {
  background: rgba(16, 24, 42, 0.75);
}

.slick-slider .slick-prev::before,
.slick-slider .slick-next::before {
  color: #2d4373;
}

.editor-toolbar {
  border-color: #e5e7ef;
  background-color: #f8f9fb;
}

.CodeMirror {
  border-color: #e5e7ef;
}

.note-editor.note-frame {
  border-color: #e5e7ef;
}

.note-editor.note-frame .note-toolbar {
  background-color: #f8f9fb;
  border-bottom-color: #e5e7ef;
}

.note-editor.note-frame .note-statusbar {
  border-top-color: #e5e7ef;
  background-color: #f8f9fb;
}

.dd-handle {
  color: #495057;
  background: #f8f9fb;
  border-color: #e5e7ef;
}

.dd-handle:hover {
  color: #212529;
}

.dd-empty,
.dd-placeholder {
  border-color: #1e2e4f;
  background: #a8b9dd;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  border-color: #3b5998;
  background: #3b5998;
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
  fill: #3b5998;
}
.cl  {
  /* background-color: #cccccc; */
}